<?xml version="1.0" encoding="utf-8" ?>
<!--internalLogFile="c:\temp\console-example-internal.log" internalLogLevel="Info" -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true" autoReload="true">

  <!--https://github.com/bjarneriis/NLog.Targets.Sentry-->
  <!--<extensions>
    <add assembly="NLog.Targets.Sentry" />
    <add assembly="LogentriesNLog"/>
  </extensions>-->

  <!--https://github.com/NLog/NLog/wiki/Targets-->
  <!--https://github.com/NLog/NLog/wiki/Layout-Renderers-->
  <!--https://github.com/NLog/NLog/wiki/Layouts-->
  <targets async="true">
  <!--https://github.com/NLog/NLog/wiki/Basedir-Layout-Renderer   ${gc:property=TotalMemory}   ${logger}|   Trace:${stacktrace:skipFrames=0:topFrames=5}}    when=level==LogLevel.Error:    :innerExceptionSeparator=\t    ${all-event-properties:jsonEncode=true}-->
    <target name="logfile" xsi:type="File" fileName="${basedir:dir=Log:file=Event} ${date:format=yyyy-MM-dd}.log" encoding="UTF-8" 
            layout="[${longdate}]&#9;[${level:uppercase=true}]&#9;[${callsite} (Line:${callsite-linenumber})]&#9;[${message}]${when:when=level==LogLevel.Error:inner=&#9;[Error Info=${replace:searchFor=((\\r)?\\n)+:replaceWith=\t:regex=true:inner=${exception:format=toString,StackTrace:maxInnerExceptionLevel=1:separator= \=\>}}]}&#9;[Thread Id:${threadid}]" />

    <!--https://github.com/NLog/NLog/wiki/CsvLayout-->
    <!--https://github.com/NLog/NLog/wiki/ColoredConsole-target-->
    <!--<target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true"  >
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        ~1~<column name="callsite" layout="${callsite:includeSourcePath=true} (Line:${callsite-linenumber})" />@1@
        <column name="exception" layout="${exception:format=message}"/>
      </layout>
    </target>-->

    <!--https://github.com/narfunikita/NLog.Telegram-->
    <!--<target name="sentry" type="Sentry" dsn="https://e2a30470c9d44c299c849008fac97c8b@sentry.io/1228827" />-->
    <!--<target name="logentries" type="Logentries" token="f5513377-8501-41ce-af89-1d0bdbb89f76" debug="true" httpPut="false" ssl="false"
            layout="[${persianlongdate}]&#9;[${level:uppercase=true}]&#9;[${callsite} (Line:${callsite-linenumber})]&#9;[${message}]${when:when=level==LogLevel.Error:inner=&#9;[Error Info=${replace:searchFor=((\\r)?\\n)+:replaceWith=\t:regex=true:inner=${exception:format=toString,StackTrace:maxInnerExceptionLevel=1:separator= \=\>}}]}&#9;[Thread Id:${threadid}]" />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minLevel="Error" appendTo="sentry,logentries" />-->
  </rules>
</nlog>