@model Textmining.Demo.Web.Models.DocumentSimilarityModel
@{
    ViewData["Title"] = "محاسبه شباهت";
    ViewData["Desc"] = "محاسبه و تعیین میزان شباهت متون، جملات یا کلمات فارسی";

}

<form data-ajax-url="@Url.Action("DocumentSimilarity","Home")"  data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی :</label>
	    <div class="form-group bmd-form-group is-filled">
		    <textarea id="Document1" name="Document1" rows="4" class="form-control">کمک بشر دوستانه</textarea>
	    </div>
	    <div class="form-group bmd-form-group is-filled">
		    <textarea id="Document2" name="Document2" rows="4" class="form-control">یاری به انسان</textarea>
	    </div>

	    <div class="form-group bmd-form-group is-filled">
		    <label>استفاده از ریشه‌یابی :</label>
		    <input asp-for="UseStemming" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
		    <label style="margin-right: 36px;">استفاده از روابط هم‌معنایی :</label>
		    <input asp-for="UseSynonyms" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
		    <label style="margin-right: 36px;">استفاده از کلمات مرتبط :</label>
		    <input asp-for="UseStatisticalSimilarity" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
	    </div>
	    <div class="form-group bmd-form-group is-filled">
		    <label>استفاده از ویراستاری :</label>
		    <input asp-for="UseVirastar" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
		    <label style="margin-right: 36px;">استفاده از غلط‌یابی :</label>
		    <input asp-for="UseSpellChecker" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
	    </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>

