@model Textmining.Demo.Web.Models.ApiViewModel
@{
    Layout = null;
}
<p class="text-muted">
    این ابزار در پیش‌پردازش متن‌ها کاربرد دارد و بر اساس لیست کلمات موجود می‌تواند متن محاوره را به رسمی تبدیل کند.
</p>
<form data-ajax-url="@Url.Action("FormalConverter","Home")" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" asp-for="InputText" class="form-control" placeholder="مثال: خونه" />
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>