@model Textmining.Demo.Web.Models.ApiViewModel
@{
    ViewData["Title"] = "تبدیل محاوره به رسمی";
    ViewData["Desc"] = "این ابزار در پیش‌پردازش متن‌ها کاربرد دارد و بر اساس لیست کلمات موجود می‌تواند متن محاوره (عامیانه) را به رسمی تبدیل کند.";

}

<form data-ajax-url="@Url.Action("FormalConverter","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">

            <textarea id="InputText" name="InputText" rows="7" class="form-control demo-form-input">
 اگه اون گزینه رو کلیک کنین، یه پنجره باز میشه که میتونین رمز عبورتون رو اونجا تغییر بدین
 داشتم مي رفتم برم، ديدم گرفت نشست، گفتم بذار بپرسم ببينم مياد نمياد ديدم ميگه نميخوام بيام بذار برم بگيرم بخوابم نمیتونم بشینم.
 کتابای خودتونه. نمیدونم چی بگم که دیگه اونجا نره
 ساعت چن میتونین بیایین؟

</textarea>




        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>