@{
    ViewData["Title"] = "دمو";
}



<section class="callout">
    <div class="container text-center">
        <h2 class="mx-auto mb-5">
            به دمو «متن کاوی» خوش آمدید
        </h2>
        <a class="btn btn-primary btn-xl" href="http://api.text-mining.ir">لیست توابع API</a>
        <a class="btn btn-light btn-xl" href="http://text-mining.ir">سایت متن کاوی</a>
    </div>
</section>

<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">دمو متن کاوی</h3>
            <h2 class="mb-5">نمونه استفاده از توابع API متن کاوی</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>تحلیل حس متن</h2>
                            <p class="mb-0">به زودی ...</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="images/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" asp-area="" asp-controller="Home" asp-action="SpellCorrector">
                   
                    <span class="caption">
                        <span class="caption-content">
                            <h2>اصلاح اشتباهات تایپی</h2>
                            <p class="mb-0">اصلاح اشتباهات تایپی متن با توجه به لیست کلمات</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="images/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item"  asp-area="" asp-controller="Home" asp-action="FormalConverter">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>محاوره به رسمی</h2>
                            <p class="mb-0">تبدیل کلمه محاوره به رسمی</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="images/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>خلاصه ساز</h2>
                            <p class="mb-0">به زودی ...</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="images/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white">
    <div class="container text-center">
        <h2 class="mb-4">برای کاربردهای بیشتر، به سایت متن کاوی بپیوندید</h2>
        <a href="http://app.text-mining.ir" class="btn btn-xl btn-light mr-4">رایگان شروع کنید</a>
    </div>
</section>


