@{
    ViewData["Title"] = "دمو";
}



<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card" id="demos">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">دموها:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#spellcorrector" data-toggle="tab">
                                    <i class="material-icons">border_color</i> اصلاح اشتباهات تایپی
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#formalconverter" data-toggle="tab">
                                    <i class="material-icons">record_voice_over</i> تبدیل محاوره به رسمی
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#feelanlysis" data-toggle="tab">
                                    <i class="material-icons">insert_emoticon</i> تحلیل حس
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#badwordsdectection" data-toggle="tab">
                                    <i class="material-icons">announcement</i> تشخیص کلمات زشت و رکیک
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="spellcorrector">
                        <partial name="SpellCorrector" />
                    </div>
                    <div class="tab-pane" id="formalconverter">
                        <partial name="FormalConverter" />
                    </div>
                    <div class="tab-pane" id="feelanlysis">
                        <p class="text-muted">به زودی</p>
                    </div>
                    <div class="tab-pane" id="badwordsdectection">
                        <p class="text-muted">به زودی</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#">
                    <img class="img" src="~/images/logo.png">
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">شروع به کار سریع برنامه‌نویسان</h6>
                <h4 class="card-title">متن‌کاوی برای برنامه‌نویسان</h4>
                <p class="card-description text-right">
                    استفاده از  سرویس‌های متن‌کاوی و افزودن آن به برنامه‌ها، خیلی ساده است:

                    <ul class="text-right">
                        <li>
                           در سایت <a target="_blank" href="https://app.text-mining.ir">متن‌کاوی</a> ثبت‌نام و <b>کلید API</b> دریافت کنید
                        </li>
                        <li>
                             <a target="_blank" href="https://docs.text-mining.ir">مستندات</a> را مطالعه کنید و ابزارهای مورد نیاز را براساس راهنما به برنامه خود اضافه کنید
                        </li>
                    </ul>

                </p>
                <p class="card-description text-right">
                       کد نمونه می‌خواهید؟ می‌توانید همین پروژه دمو را از <a href="https://github.com/Text-Mining/demo" target="_blank">مخزن گیت‌هاب</a> دریافت و با اعمال کلید API در تنظیمات، اجرا کنید. این پروژه کراس پلتفرم بوده و در ویندوز، مک و لینوکس قابل اجراست.
                </p>
                <a href="https://app.text-mining.ir" class="btn btn-primary btn-round">ثبت نام و شروع رایگان</a>
            </div>
        </div>
    </div>
</div>

