@model Textmining.Demo.Web.Models.KeywordExtractionModel
@{
    ViewData["Title"] = "استخراج کلمات کلیدی متن";
    ViewData["Desc"] = "این ابزار کلمات کلیدی متن را با پنج رویکرد TF-IDF، RAKE، KP-Miner، TextRank و FNG استخراج می‌کند.";

}

<form data-ajax-url="@Url.Action("KeywordExtraction","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea id="Text" name="Text" rows="6" class="form-control demo-form-input">
سرمایه گذاری هنگفت امارات در توسعه انرژی
امارات در مناطق شمالی این کشور بیش از ۷۰۰ میلیون درهم در توسعه انرژی سرمایه گذاری می‌کند.
محمد صالح مدیرکل اداره برق امارات در نشست خبری اعلام کرد که امارات متحده عربی از امسال تا سال ۲۰۲۲ میلادی ۸ پروژه مهم انرژی به منظور توسعه و گسترش برق مناطق شمالی امارات اجرا خواهد کرد.
وی افزود: این طرح‌ها با هزینه‌ای بالغ بر ۷۰۰ میلیون درهم احداث و تکمیل خواهد شد 
</textarea>

        </div>
        <label>تعداد کلمات کلیدی در خروجی:</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">تعداد کلمات کلیدی در خروجی</label>*@
            <input asp-for="ResultKeywordCount" type="tel" min="1" max="10" step="1" value="5" class="form-control" />
        </div>

        <label>حداکثر تعداد کلمات هر عبارت کلیدی</label>
        <div class="form-group bmd-form-group is-filled">
            <label class="bmd-label-floating">تعداد کلمات (اجزای) هر چندتایی (N-gram) خروجی  (بین 1 تا 5)</label>
            <input asp-for="MaxWordCount" type="tel" min="1" max="5" step="1" value="3" class="form-control" />
        </div>

        <label>روش انجام</label>
        <div class="form-group bmd-form-group is-filled">
            <label class="bmd-label-floating">رویکرد استخراج کلمات کلیدی</label>
            <select asp-for="Method" class="form-control">
                <option value="TFIDF" title="term frequency–inverse document frequency" selected>TF-IDF</option>
                <option value="RAKE" title="Rapid Automatic Keyword Extraction">RAKE</option>
                <option value="KPMiner" title="KeyPhrase extraction model">KP-Miner</option>
                <option value="TextRank" title="Text Rank (graph-base approach)">TextRank</option>
                <option value="FNG" title="Most Frequent N-Grams">Freq N-Grams</option>
            </select>
        </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>