@model Textmining.Demo.Web.Models.KeywordExtractionModel
@{
    ViewData["Title"] = "استخراج کلمات کلیدی متن";
    ViewData["Desc"] = "این ابزار کلمات کلیدی متن را شناسایی و استخراج می‌کند";

}

<form data-ajax-url="@Url.Action("KeywordExtraction","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea id="Text" name="Text" rows="7" class="form-control demo-form-input">
سرمایه گذاری هنگفت امارات در توسعه انرژی
امارات در مناطق شمالی این کشور بیش از ۷۰۰ میلیون درهم در توسعه انرژی سرمایه گذاری می‌کند.
محمد صالح مدیرکل اداره برق امارات در نشست خبری اعلام کرد که امارات متحده عربی از امسال تا سال ۲۰۲۲ میلادی ۸ پروژه مهم انرژی به منظور توسعه و گسترش برق مناطق شمالی امارات اجرا خواهد کرد.
وی افزود: این طرح‌ها با هزینه‌ای بالغ بر ۷۰۰ میلیون درهم احداث و تکمیل خواهد شد 
</textarea>

        </div>
        <label>تعداد کلمات خروجی</label>

        <div class="form-group bmd-form-group is-filled">
            <label class="bmd-label-floating">تعداد کلمات کلیدی در خروجی</label>
            <input asp-for="ResultKeywordCount" type="tel" min="1" max="10" step="1" value="5" class="form-control" />
        </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>