@model Textmining.Demo.Web.Models.ApiViewModel
@{
    ViewData["Title"] = "شناسایی نوع زبان";
    ViewData["Desc"] = "این تابع حدود ۶۰ نوع زبان را برای متن ورودی با استفاده از رویکرد یادگیری ماشین شناسایی می‌کند.";

}

<form data-ajax-url="@Url.Action("LanguageDetectionPredict","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea type="text" name="InputText" id="InputText" class="form-control" rows="7">
شام ییبسن یا یوخ. سن سیز بوغازیمنان گتمیر شام. به به نه قشه یردی. ساغ اول سیز نئجه سیز. نئجه سن؟ اوشاقلار نئجه دیر؟ سلام لاری وار سیزین کی لر نئجه دیر. یاخچی
</textarea>

        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
    <br />
    <span class="text-muted">راهنمای کد زبان‌ها: <a target="_blank" href="https://iso639-3.sil.org/code_tables/639/data/all">https://iso639-3.sil.org/code_tables/639/data/all</a></span>

</form>

<hr />
<span id="result" class="text-right"></span>