@model Textmining.Demo.Web.Models.ApiViewModel
@{
    ViewData["Title"] = "شناسایی موجودیت‌های نامدار متن";
    ViewData["Desc"] = "لیست عبارات بهمراه برچسب نوع موجودیت";

}

<form data-ajax-url="@Url.Action("NamedEntityRecognitionDetect","Home")" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <input type="text" asp-for="InputText" class="form-control" value="احمد عباسی به تحصیلات خود در دانشگاه آزاد اسلامی در مشهد ادامه داد" />

        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>