@model Textmining.Demo.Web.Models.ApiViewModel
@{
    ViewData["Title"] = "افزودن علائم نگارشی";
    ViewData["Desc"] = "این ابزار برای اضافه کردن نقطه (نقطه‌گذاری)، ویرگول، علامت تعجب، علامت سوال و دونقطه(:) به متن استفاده می‌شود.";

}

<form data-ajax-url="@Url.Action("PunctuationRestoration","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">

            <textarea id="InputText" name="InputText" rows="7" class="form-control">
درادامه این مطلب آمده است دولت بایدن که در پشت سرفصل‌های اخبار اوکراین پنهان شده بود حالا یک گام نگران‌کننده به جنگ با ایران نزدیک‌تر شد به گزارش کانال ۱۳ اسرائیل، ایالات متحده با شرکت در رزمایش بزرگ اسرائیل برای شبیه سازی حمله به تاسیسات هسته‌ای ایران در اواخر این ماه موافقت کرده است تایمز اسرائیل خاطرنشان کرد که این گزارش بدون منبع است اما به گفته اکسیوس مقامات اسرائیلی تأیید کردند که ایالات متحده مشارکت خواهد کرد و پنتاگون به درخواست اکسیوس برای اظهار نظر بلافاصله پاسخ نداد
</textarea>
        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>