@model Textmining.Demo.Web.Models.ApiViewModel
@{
    ViewData["Title"] = "تحلیل حس";
    ViewData["Desc"] = "این تابع نوع حس جمله را به صورت یکی از سه شکل زیر برمی‌گرداند: 0 منفی - 1 خنثی - 2 مثبت";

}

<form data-ajax-url="@Url.Action("SentimentClassifier","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea type="text" name="InputText" id="InputText" class="form-control" rows="7">
اصلا خوب نبود
            </textarea>
        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>