@model Textmining.Demo.Web.Models.SpellCheckerModel
@{
    ViewData["Title"] = "اصلاح اشتباهات تایپی";
    ViewData["Desc"] = "این ابزار در پیش‌پردازش متن‌ها کاربرد دارد و بر اساس لیست کلمات موجود می‌تواند اشتباهات تایپی را اصلاح کند.";
}


<form data-ajax-url="@Url.Action("SpellCorrector","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#spellresult">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea id="Text" name="Text" rows="7" class="form-control" >فهوه با مبات میجسبد</textarea>
        </div>
        <label>تعداد کلمات جایگزین</label>
        <div class="form-group bmd-form-group is-filled">
            <label class="bmd-label-floating">تعداد کلماتی که جایگزین کلمات اشتباه می‌شوند</label>
            <input asp-for="CandidateCount" type="tel" min="1" max="5" step="1" value="3" class="form-control" />
        </div>
    </div>

    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="spellresult" class="text-right"></span>