@model Textmining.Demo.Web.Models.SummarizationModel
@{
    ViewData["Title"] = "خلاصه سازی خودکار متن فارسی";
    ViewData["Desc"] = "این ابزار متن را با چند رویکرد متفاوت بطور خودکار خلاصه می‌کند.";

}

<form data-ajax-url="@Url.Action("Summarization","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن اصلی (خبر، نامه، ...)</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea id="Text" name="Text" rows="6" class="form-control demo-form-input">
باشگاه خبرنگاران/ رئیس‌جمهور آمریکا به ادعاها درباره دیدار سناتور آمریکایی با وزیر خارجه ایران در حاشیه نشست مونیخ واکنش نشان داد و آن را نقض قانون «لوگان» خواند.

به گزارش رویترز، دونالد ترامپ، رئیس جمهور آمریکا،در واکنش به انتشار خبری درباره دیدار سناتور کریس مورفی با محمد جواد ظریف وزیر امور خارجه ایران - در حاشیه کنفرانس امنیتی مونیخ - گفت: خبری خواندم که نوشته بود سناتور مورفی با ایرانی‌ها دیدار کرد. آیا چنین چیزی حقیقت دارد؟ من این خبر را وقتی که داشتم به اینجا می‌آمدم، دیدم. آیا چیزی هست که من باید بدانم؟ چون به نظر می‌رسد که این اقدام (دیدار سناتور کریس مورفی با محمد جواد ظریف) نقض قانون لوگان است.

رئیس جمهور آمریکا افزود: چه اتفاقی افتاد؟ آیا شما (خبرنگاران) خبری درباره دیدار سناتور مورفی با ایرانی‌ها خواندید یا شنیدید؟ من که نمی‌دانم، همین الان که داشتم از خودرو بیرون می‌آمدم این خبر را خواندم.

قانون لوگان قانونی فدرال در آمریکا است که بر اساس آن هرگونه مذاکره بدون مجوز مقامات آمریکایی با شهروندان دولت‌هایی -که درگیر مناقشه با آمریکا هستند- جرم محسوب می‌شود.

این اظهارات در پی آن مطرح می‌شود که کریس مورفی، سناتور آمریکایی که در نشست مونیخ نیز حضور داشت، مدعی گفت‌وگو با محمدجواد ظریف، وزیر خارجه ایران، در هتل محل اقامت او شد. مورفی تاکید کرد هر چند اختیار اقدامات دیپلماتیک را از سوی دولت آمریکا نداشت، گفت‌وگو با مقام ایرانی را به سود کشورش و امنیت ملی آن می‌داند.

ترامپ درباره موضوع اختلافات در واشنگتن و متهم شدن وزارت دادگستری آمریکا به مداخله در پرونده راجر استون، مشاور و دوست سابق خود، هم گفت: من به دادستان خود اطمینان کامل دارم؛ می‌دانید که از همان ابتدا دمکرات‌ها شروع به جنجال‌آفرینی کردند. آن‌ها در ابتدای کار موضوع روسیه را پیش کشیدند، بعد جنجال‌ها بر سر تحقیقات مولر بود و بعد از آن هم مدام درباره روسیه یاوه‌سرایی کردند. من راجر استون را نمی‌شناسم و وی نیز هیچ نقشی در ستاد انتخاباتی ما نداشت. باور دارم که اتفاقات بسیار سختی برای راجر استون روی داده است.

او افزود: تیم من در شبکه‌های اجتماعی بسیار قوی عمل می‌کند و دست کم من هم صدایی در این میان دارم و می‌توانم با اخبار جعلی که در آن منتشر می‌شود، مقابله کنم. اینکه گفته شده است دادستان کل (ویلیام بار) می‌گوید من کار وی را دشوار کرده‌ام شاید درست باشد، ولی افراد زیادی هم هستند که نمی‌خواهند اتفاقات خوب روی بدهد و این اعتقاد من است نه اعتقاد وی و باید دیدگاهش را از خودش سوال کنید. شبکه‌های اجتماعی برای من بسیار اهمیت دارد و می‌خواهم در این فضا صدایی داشته باشم، زیرا در رسانه‌ها صدایی نداشته‌ام. درباره راجر استون نیز نظر خاصی ندارم، ولی باور دارم که رفتاری که با او شده است بسیار دور از انصاف بود.

رئیس‌جمهور آمریکا در پاسخ به سوال خبرنگاری درباره افغانستان هم مدعی شد: ما نوزده سال است که درگیر جنگ در این کشور هستیم؛ نیرو‌های خود را به شکلی چشمگیر در این کشور کاهش داده‌ایم و در حال حاضر بیشتر به جای نیروی نظامی، در نقش ضابط قانون عمل می‌کنیم. کشتن چند میلیون نفر بسیار کار ساده‌ای است، ولی من نمی‌خواهم این کار را بکنم، می‌توانیم به سادگی آب خوردن این کار را بکنیم، صحبت من از بمب‌های هسته‌ای نیست، من از تسلیحات کاملا متعارف صحبت می‌کنم، من نمی‌خواهم چند میلیون نفر را بکشیم، من مایل به مذاکره با طالبان هستم، مدتی است این مذاکره دنبال می‌شود و آن‌ها این فرصت را دارند که به توافق برسند. این برایشان فرصت است.</textarea>

        </div>

        <label>تعداد کلمات متن خلاصه</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">اگر عددی بین صفر و یک وارد شود، متن خلاصه به همان نسبت از متن ورودی خواهد بود</label>*@
            <input asp-for="SummaryWordCount" type="tel" min="10" max="1000" step="10" value="150" class="form-control" />
        </div>

        <label>رویکرد انتخاب جملات مهم</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">رویکرد خلاصه‌سازی خودکار</label>*@
            <select asp-for="Method" class="form-control">
                <option value="TextRank" title="Text Rank (graph-base approach)">TextRank</option>
                <option value="SFW" title="Sentence Feature Weighting" selected>Feature Weighting</option>
            </select>
        </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>