@model Textmining.Demo.Web.Models.ApiViewModel
@{
    Layout = null;
}
<p class="text-muted">
    این ابزار در بهبود متون تاثیر دارد و متن ورودی را از نظر وجود کلمات رکیک بررسی می‌کند
</p>
<form data-ajax-url="@Url.Action("SwearWordTagger","Home")" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#checkresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" asp-for="InputText" class="form-control" value="خـــــــرررررهای دیووووونههه  -   صکس  س.ک.س ی   بیپدرومادر" />
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="checkresult" class="text-right"></span>