@model Textmining.Demo.Web.Models.TopicModelingModel
@{
    ViewData["Title"] = "مدل سازی موضوعی (شناسایی موضوعات مجموعه متون) فارسی";
    ViewData["Desc"] = "این ابزار با چند رویکرد متفاوت کلمات کلیدی مربوط به موضوعات مختلف درون مجموعه متون (نظرات، پیامها، اخبار یا ...) فارسی را استخراج می‌کند.";

}

<form data-ajax-url="@Url.Action("TopicModeling","Home")" data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>مجموعه متون (نظرات، پیام‌ها، اخبار یا ...) - در هر خط یک متن درج شود</label>
        <label class="bmd-label-floating">به دلیل محدودیت طول (تعداد کاراکتر) ورودی در بخش دمو، پیشنهاد می‌کنیم از API ابزار استفاده کنید. چون بعضی از رویکردهای پیاده‌سازی شده برای حجم بالای متون مناسب هستند. ریشه‌یابی و تبدیل محاوره‌ای به رسمی نیز می‌توانند تاثیر مطلوبی در خروجی این ابزار داشته باشند.</label>
        <div class="form-group bmd-form-group is-filled">
            <textarea id="Text" name="Text" rows="6" class="form-control">
باز هم بیچاره مردم کی باید تو زحمت مضاعف بیافتند
سیستم‌عامل تمام نسخه سرفیس پرو، نسخه پرو ویندوز است، پس هر برنامه‌ای روی این تبلت قابل نصب است.
من ساندویچ را دوست نداشتم. به نظرم کیفیت گوشت خوب نبود ولی سیب را دوست داشتم
حجم مزه و نحوه ارسال خیلی خوب بود امتیاز کامل دادم. سس روی نان کمی به شیرینی میزد که سلیقه‌ای هست من خیلی دوست ندارم بااین‌وجود در‌مجموع خیلی خوب بود
من این مدل را می‌خواهم به هیچ جا غیر از شما هم اعتماد ندارم حاضرم پولش پیش بدهم
رنگ سفید گرفتم اما ظاهرا s45 هست که 14 تومان ارزان‌تر است. شبیه عکس این محصول نیست.
عالی. عالی. عالی. عالی. عالی
این پاور بانک را حدود 1 ماه خریدم و خیلی راضیم. یکی از دلایلی که این پاور را خریدم این بود که< برند انرجایزر> تولید کننده‌ی سل باتری تو دنیا می‌باشد.
در جایی که قانون بی‌کفایتی می‌کند خدا و مردم جواب این گرگها را خوب می‌دهند. دنیادار مکافات هست.
منانم از لطفت مهربان
رستوران خیلی خوبی است
بسیار عالی و خوش‌طعم و خوب فقط یک مقدار کمبود ولی خیلی خوش‌طعم بود مخصوصا سس‌هاش عالی بود ممنونم
افت شدید. کیفیت. نسبت به قبل داشت.
سلام… یک پیتزای حرفه‌ای خوشمزه بود
پیشنهاد ویژه لطفا همین الان آن را بخرم
ارتش سرخ
خیلی خوشمزه و عالی… فقط دیر رسید به دستم و سرد شده بود غذام
قیمت کلاس‌های گیتار برای مبتدی چند هست؟ می‌توانید چند جا معرفی کنید؟ با تشکر از دیجی کالا
با سلام و تبریک سال نو من این گوشی را سفارش دادم از سایت شما اما موقع تحویل گوشی جعبه گوشی له و خراب‌شده بود از شرکت معتبری مثل شما بعید هست،. گوشی خیلی خوبی من از او راضیم. با تشکر
سلام. دیجیکالای عزیز، لطفا هرچه‌سریعتر نقد و بررسی کاملی درباره این گوشی در سایت قرار دهید.
واقعا زیبا است
اوف بر تو ای گمرک آقازاده نواز و صنعت خودروسازی که بلای جان مردم بی‌گناه شده‌ای… . الحق که خوب به مردم مظلوم ایران خدمت ناصادقانه می‌کنید
اوف من چه فکر میکردمو چه شد. می‌گفتم از دو میلیون آنطرف دیگر نمی‌پرد نزدیک سه میلیون شد عجب
با‌سرعت غذا را آوردند. غذاها خوشمزه بودند
هتلی آرامش‌بخش با نمای ساحلی مناسب. هتل آلاله 2 درگهان از لحاظ موقعیت بسیار مناسب دارای نمای ساحلی آرام و بسیار نزدیک بازار درگهان بوده اما تنها نقاط ضعف هتل نداشتن تنوع در منوی صبحانه، نداشتن آسانسور، عدم نظافت سروقت راهروها، قطعی وای فای اینترنت اتاق و سرویس بهداشتی‌های ضعیف داخل اتاق بود.
من حدود 6 ماهه گوشی را دارم خیلی گوشی خوب هست از هر لحاظ بگویی عالی هست
خیلی زود آب را جوش می‌آورد. قوری یک لیتر گنجایش دارد. سیستم گرم نگهدارنده دارد. متاسفانه کتری پلاستیکی هست ولی با این قیمت قابل قبول هست. من درون پیشنهاد ویژه خریدم قیمتش به نسبت کیفی خیلی عالی هست. مرسی
کیفیت و مقدار همبرگر عالی بود؛ فقط سیب‌زمینی زیاد جالب نبود؛ باز هم ممنون اسنپ فود
فقط کمی برشته‌تر شود با سس زیاد بگذارید
سخت‌افزاری بسیار پایین دارد بازگوید مموری باحجم بالا روش باشد امکان هنگش زیاده ولی اندازه بزرگی دارد
نمی‌دانم چه موادی درش بکاررفته. . ولی برای من حساسیت داشت و باعث ایجاد لکه‌های قرمز روی پوست شد. . بوی تندی دارد و فکر می‌کنم موادی که برای ایجاد این بوی تند بکاررفته باعث همین حساسیت شده باشد.
کیهان و جوان و… تا دیروز از اسم امریکا و دانشگاه‌هاش حالش به هم می‌خورد حالا نظرسنجیش را می‌آید بررسی عمیق می‌کند… کی به کی می‌گوید نان به نرخ روز خور??
سلام. آیا این دستگاه دارای کنترل از راه دور هست؟
کیفیت برنج خیلی خوب بود. متاسفانه خورش قیمه بیشتر مزه‌ی آبگوشت می‌داد. گوشت‌ها بسیار سفت بود. مقدار خورش هم کمبود. البته چون روغن خورش خیلی کمبود، احتمالا برای افرادی که باید غذای کم‌روغن بخورند گزینه‌ای مناسبی باشد.
سلام من این گوشی را حدود یک ماه می‌شود خریدم اولش خوب بود ولی الان همه‌اش هنگ می‌کند
دوستان این موس بلوتوث هست و دانگل ندارد با پرت USB شما هم کاری ندارد
این کاربر پرسپولیسی حالش خوب نیست… . این‌قدر شعور طرفداران آفتابه قرمز کم شده که میان اینجا و بجای همدردی حرف بی‌ربط می‌زنند. . نوروزی فحش خورد یانخورد به قائدی چه ربطی دارد؟؟؟
همانطور که بقیه دوستان هم گفتن، شیرینی کمی بهم ریخته بود و جعبه‌اش کمی پاره و کهنه. نمی‌دانم مسیر کوتاه چه بلایی سرش آمده بود
کیفیت غذا بسیار پایین و بد
بازی عالی من همین دیروز گرفتمش حتما آن را بگیرید
        </textarea>
        </div>

        <label>تعداد موضوع‌ها</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">اگر عددی بین صفر و یک وارد شود، متن خلاصه به همان نسبت از متن ورودی خواهد بود</label>*@
            <input asp-for="TopicsCount" type="tel" min="2" max="10" step="1" value="3" class="form-control" />
        </div>

        <label>رویکرد تشخیص موضوع‌ها</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">رویکرد خلاصه‌سازی خودکار</label>*@
            <select asp-for="Method" class="form-control">
                <option value="LDA" title="Latent Dirichlet Allocation (LDA)" selected>LDA</option>
                <option value="Clustering" title="k-Means Clustering DF-Vectors">Clustering</option>
                <option value="FuzzyClustering " title="Fuzzy Clustering DF-Vectors">Fuzzy Clustering</option>
                <option value="PreDefineWordVectors " title="Use pre-define word vectors for clustering words">Pre-Define Word Vectors</option>
                <option value="Word2VecClustering " title="Create word vectors and return words near the centers of clusters">Word2Vec Clustering</option>
            </select>
        </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="result" class="text-right"></span>