@model Textmining.Demo.Web.Models.VirastarModel
@{
    ViewData["Title"] = "ویراستار";
    ViewData["Desc"] = "بررسی و ویراستاری متن ورودی و پیشنهاد اصلاحات مربوط به نویسه‌ها، فاصله و نیم‌فاصله‌ها، جایگزینی طبق دستور زبان و آیین‌نامه مصوب فرهنگستان و همچنین غلط‌یاب املائی و اشتباهات از نوع کلمه واقعی و ... در متن فارسی";

}

<form data-ajax-url="@Url.Action("Virastar","Home")"  data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی :</label>
        <div class="form-group bmd-form-group is-filled">

            <textarea id="Text" name="Text" rows="6" class="form-control">
سلم علیکم
حتما آن ها الزم استکه مومن را احترام مے ڪنند. یگ پنجره ی بزگ وسبز باز میشود . !حضور تان را کرامی می داشتم
خدماتمتنکاویفارسییارحاصلهشتسالتجربهوزحمتدرزمینهپردازشمتنفارسیاست
قیمت بابا میرود
</textarea>


        </div>

        <label>تعداد پیشنهادات غلط‌یاب (بین ۱ تا ۵) :</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">تعداد پیشنهادات غلط‌یاب در خروجی (بین ۱ تا ۵)</label>*@
            <input asp-for="SpellCheckerCandidateCount" type="tel" min="1" max="10" step="1" value="3" class="form-control" />
        </div>

        <div class="form-group bmd-form-group is-filled">
            <label>غلط‌یابی معنایی با توجه به بافت جمله :</label>
            <input asp-for="CheckRealWordSpell" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
        </div>

        <div class="form-group bmd-form-group is-filled">
            <label>غلط‌یابی با حساسیت بالا (گزارش موارد مشکوک به اشتباه) :</label>
            <input asp-for="SpellCheckHighSensitive" type="checkbox" checked="checked" class="form-control" style="height: auto; width: auto; display: inline-block; margin-right: 10px;" />
        </div>

    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>

