@model Textmining.Demo.Web.Models.VirastarModel
@{
    ViewData["Title"] = "ویراستار";
    ViewData["Desc"] = "بررسی و ویراستاری متن ورودی و پیشنهاد اصلاحات مربوط به نویسه‌ها، فاصله و نیم‌فاصله‌ها، جایگزینی طبق دستور زبان و آیین‌نامه مصوب فرهنگستان و همچنین غلط‌یاب املائی و اشتباهات از نوع کلمه واقعی و ... در متن فارسی";

}

<form data-ajax-url="@Url.Action("Virastar","Home")"  data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>متن ورودی جهت بررسی</label>
        <div class="form-group bmd-form-group is-filled">

            <textarea id="Text" name="Text" rows="7" class="form-control demo-form-input">
سلم علیکم
حتما آن ها الزم استکه مومن را احترام مے ڪنند. یگ بپنجره ی بزگ وسبز باز میشود . !حضور تان را کرامی می داشتم

</textarea>


        </div>

        <label>تعداد پیشنهادات غلط‌یاب</label>

        <div class="form-group bmd-form-group is-filled">
            <label class="bmd-label-floating">تعداد پیشنهادات غلط‌یاب در خروجی (بین ۱ تا ۵)</label>
            <input asp-for="SpellCheckerCandidateCount" type="tel" min="1" max="10" step="1" value="3" class="form-control" />
        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>

