@model Textmining.Demo.Web.Models.WordCloudModel
@{
    ViewData["Title"] = "ابرکلمات فارسی یار";
    ViewData["Desc"] = "ترسیم ابر کلمات فارسی بر اساس لغات کلیدی (خروجی ابزار شناسایی کلمات کلیدی). در نسخۀ اصلی API می‌توانید اندازه تصویر، رنگ‌بندی دلخواه، نوع و اندازه قلم (فونت)، مقدار وزن (ارزش و بزرگی) کلمات و ... را تعیین کنید.";
}

<form data-ajax-url="@Url.Action("WordCloud","Home")"  data-ajax-loading="#loading" asp-antiforgery="true" data-ajax="true" data-ajax-method="POST" data-ajax-update="#convertresult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>لیست کلمات کلیدی (به ترتیب اهمیت) - در هر خط یک کلمه یا عبارت درج شود:</label>
        <div class="form-group bmd-form-group is-filled">

            <textarea id="Text" name="Text" rows="6" class="form-control">
ایران
جمهوری اسلامی
حکومت
ایرانی
ایرانیان
سازمان
جمعیت
سرزمین
امام رضا
خراسان
خلیج‌فارس
آریایی
پارسی
دوران
ملل متحد
فارسی
جنوبی
جاده ابریشم
دریای خزر
تهران
سرشماری
وطن
جهانی
شیعه
جنبش عدم تعهد
اقتصادی
تحریم
افغانستان
آذربایجان
نفت
قانون اساسی
انقلاب
تاریخ
خاور میانه
فرهنگ
خاورمیانه
آشپزی
غذای ایرانی
اسلام
ذخایر
استان
شاهنشاهی
زلزله
تاریخی
پایتخت
فردوسی
جنگ تحمیلی
برج میلاد
نظام جمهوری اسلامی
ترکمنستان
ارمنستان
پاکستان
ترکیه
تولیدکننده
دودمان
جنوب غربی آسیا
کشوری
رضاشاه
کرمان
هجری شمسی
میلادی
مازندران
سلسله
ترتیب
تیم ملی
رهبری
پهلوی
زاگرس
باستان
تمدن جیرفت
پادشاهی
امنیت
نظامی
آمریکا
اطلاعات
سیاسی
سلطان سنجر
نیازمند اسناد
داخلی
پرچم سه‌رنگ
سامانیان
زبان رسمی
میدان گازی
المپیک
گاز طبیعی
کاروانسرای دیرگچین
بین‌المللی
سید علی خامنه‌ای
آذربایجانی
آسیای
پیست اسکی
خوارزم
قاجار
مازندرانی
ساسانی
سلجوق بن دقاق
مامون عباسی
هخامنشیان
مجمع تشخیص مصلحت
بزرگی
انگلیسی
آخرین
البرز
بنیان‌گذار
یعقوب لیث
گیلان
باختر
مسجد وکیل
سید ضیاالدین طباطبایی
چهارمین
ایلام
فرمانروایی
کودتای سوم اسفند
یونسکو
ورزشگاه آزادی
طایفه
پتروشیمی
هلیل‌رود
نیروی
موسیقی
عمان محدود
سلطنتی
شیراز
مناطق
ماوراءالنهر
مادها
تبدیل
تاجیکستان
پرونده
افشاریه
حکومتی
زبانی
فرهنگی
فرمان
کوروش
اعتراض
دریای خزر
سربازی اجباری
زندیه
پیشینه
معاصر
اولین
امروزی
مرودشت
سمرقند
اختیار
می‌توان
امپراتوری عثمانی
بغداد
صدارت امیرکبیر
ایلخانان
بوییان
ایل ارسلان
پادشاه
سازمان کنفرانس اسلامی
کلات نادر
بانوان
صنعت‌نفت
میانی
شیر‌و‌خورشید
میلیون
سلاجقه
تقسیم
معماری
هندوکش
محمدرضا
سفارت
مسجد شیخ لطف‌الله
طوایف
متعلق
پایه سرشماری سال
دولتی
میراث
گیلکی
گزارش
عزاداری
سواحل
دادگاه
تشریح
خلافت
جغرافیای
آل‌بویه
ایلخانیان
بلوچی
اقوام
هندوستان
کاخ خورشید
لا اله الا الله
فوربز
دریاچه
بنیان
سامانی
برجای‌مانده
قفقاز
هخامنشی
آسیایی
وزارت
مجلس شورای ملی
سوریه
انرژی
چنگیزخان
پاسارگاد
خوزستان
جایگاه
قانون
سیستم
ترکیب
ابومسلم
کوهستانی
نادرشاه
قطب‌الدین محمد
بزرگترین
شاهنامه
خوشنویسی
شمالی
کشاورزی
رضاخان
چهار دوره
دودمانی
هجری قمری
سال‌های
سلجوقیان
فرغانه
گسترش
نواحی شمال غرب
خورشیدی
</textarea>
        </div>

        <label>رنگ‌بندی کلمات</label>
        <div class="form-group bmd-form-group is-filled">
            @*<label class="bmd-label-floating">رویکرد استخراج کلمات کلیدی</label>*@
            <select asp-for="Theme" class="form-control">
                <option value="CoolBlackColorTheme" title="Cool Black Color Theme" selected>رنگ‌های شاد (با زمینه تیره)</option>
                <option value="MaterialColorTheme" title="Material Color Theme">رنگ‌های متریال (با زمینه تیره)</option>
                <option value="PinkPurpleColorTheme" title="Pink Purple Color Theme">طیف رنگی بنفش-صورتی (با زمینه سفید)</option>
                <option value="GreyBlueColorTheme" title="Grey Blue Color Theme">طیف رنگی آبی-خاکستری (با زمینه سفید)</option>
                <option value="RandomWhiteColorTheme" title="Random White Color Theme">رنگ‌های تصادفی (با زمینه سفید)</option>
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-success btn-xl js-scroll-trigger mt-3" value="ارسال">
</form>

<hr />
<span id="convertresult" class="text-right"></span>

