@font-face { font-family: Vazir; src: url('/fonts/Vazir/Vazir.eot'); src: url('/fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir/Vazir.woff2') format('woff2'), url('/fonts/Vazir/Vazir.woff') format('woff'), url('/fonts/Vazir/Vazir.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: Vazir; src: url('/fonts/Vazir/Vazir-Bold.eot'); src: url('/fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir/Vazir-Bold.woff2') format('woff2'), url('/fonts/Vazir/Vazir-Bold.woff') format('woff'), url('/fonts/Vazir/Vazir-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; }
body, html, h1, h2, h3, h4, h5, h6, .popover-body {
    font-family: Vazir;
}
.popover-header {
    color: #4caf50;
}

.popover-body{
    font-size:12px;
}