@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir/Vazir.eot');
    src: url('/fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir/Vazir.woff2') format('woff2'), url('/fonts/Vazir/Vazir.woff') format('woff'), url('/fonts/Vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir/Vazir-Bold.eot');
    src: url('/fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir/Vazir-Bold.woff2') format('woff2'), url('/fonts/Vazir/Vazir-Bold.woff') format('woff'), url('/fonts/Vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, html, h1, h2, h3, h4, h5, h6, .popover-body {
    font-family: Vazir;
}

.popover-header {
    color: #4caf50;
}

.popover-body {
    font-size: 12px;
}

html[dir="rtl"] .sidebar {
    direction: ltr;
}

#loading {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loading::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.menu-item-main {
    float: right;
    width: 30%;
}

.menu-item-alert {
    /*margin-top: -0.25rem;*/
    font-size: 80%;
    color: #f44336;
}

.container-center {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.form-group {
    padding-bottom: 20px;
}