@{
    Layout = null;
}

@Html.Raw(ViewData["Output"].ToString().Replace("\\r\\n", "<br/>"))

<partial name="_ErrorReportButton" />
<div style="font-size: 80%">
    چنانچه ابزار موردنظر خروجی مناسبی ندارد، لطفاً کلید «گزارش ایراد در خروجی» را زده و خروجی مورد انتظار خود را برای ما بفرستید. مطمئن باشید گزارش شما مورد توجه تیم متن‌کاوی فارسی‌یار بوده و روی بهبود نتایج ابزارهای پردازش متن فارسی تاثیرگذار است.
</div>