<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">دموی متن کاوی</h3>
            <h2 class="mb-5">دمو استفاده از توابع API متن کاوی</h2>
        </div>
        <div class="row">

            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-home"></i>
                    </span>
                </a>
                <h6>
                    <strong>صفحه نخست</strong>
                </h6>

            </div>

            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                <a class="" asp-area="" asp-controller="Home" asp-action="SpellCorrector">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-pencil"></i>
                    </span>
                </a>
                <h6>
                    <strong>اصلاح اشتباهات تایپی</strong>
                </h6>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                <a class="" asp-area="" asp-controller="Home" asp-action="FormalConverter">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-magic-wand"></i>
                    </span>
                </a>
                <h6>
                    <strong>تبدیل محاوره به رسمی</strong>
                </h6>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
                <a href="#">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-emotsmile"></i>
                    </span>
                </a>
                <h6>
                    <strong>تحلیل حس (به زودی)</strong>
                </h6>
            </div>
            <div class="col-lg-2 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-list"></i>
                </span>
                <h6>
                    <strong>خلاصه‌ساز (به زودی)</strong>
                </h6>
            </div>
            <div class="col-lg-2 col-md-6">
                <a href="http://api.text-mining.ir" target="_blank">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-globe"></i>
                    </span>
                </a>
                <h6>
                    <strong>لیست توابع API</strong>
                </h6>
            </div>
        </div>
    </div>
</section>
