@using Microsoft.Extensions.Configuration
@{
    Layout = null;
}

@inject IConfiguration config


@if (config.GetValue<bool>("ErrorReport:Enable"))
{
    <div class="container-center">
        <a class="btn btn-warning" data-toggle="modal" data-target="#errorReportModal">
            <i class="material-icons">warning</i>
            گزارش ایراد در خروجی ابزار
        </a>
    </div>
        <div style="font-size: 80%">
            چنانچه ابزار موردنظر خروجی مناسبی ندارد، لطفاً کلید «گزارش ایراد در خروجی» را زده و خروجی مورد انتظار خود را برای ما بفرستید. مطمئن باشید گزارش شما مورد توجه تیم متن‌کاوی فارسی‌یار بوده و روی بهبود نتایج ابزارهای پردازش متن فارسی تاثیرگذار است.
        </div>
}
