@model Dictionary<string, double>
@{
    Layout = null;

}

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <h5>
                    کلمه کلیدی
                </h5>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, double> word in Model)
        {
            <tr>
                <td>
                    @word.Key
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_ErrorReportButton" />
<div style="font-size: 80%">
    چنانچه ابزار موردنظر خروجی مناسبی ندارد، لطفاً کلید «گزارش ایراد در خروجی» را زده و خروجی مورد انتظار خود را برای ما بفرستید. مطمئن باشید گزارش شما مورد توجه تیم متن‌کاوی فارسی‌یار بوده و روی بهبود نتایج ابزارهای پردازش متن فارسی تاثیرگذار است.
</div>