
<div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" style="background-color:#fff">
    <ul class="nav">
        @*https://material.io/resources/icons/*@
        <li class="nav-item">
            <a class="nav-link" asp-action="Virastar" asp-controller="Home">
                <i class="material-icons">spellcheck</i>
                <p>ویراستاری متن</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="SpellCorrector" asp-controller="Home">
                <i class="material-icons">border_color</i>
                <p>اصلاح اشتباهات تایپی</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="FormalConverter" asp-controller="Home">
                <i class="material-icons">record_voice_over</i>
                <p>تبدیل محاوره به رسمی</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="SwearWordTagger" asp-controller="Home">
                <i class="material-icons">announcement</i>
                <p>تشخیص کلمات زشت و رکیک</p>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" asp-action="SentimentClassifier" asp-controller="Home">
                <i class="material-icons">insert_emoticon</i>
                <p $1$class="menu-item-main"#1#>
                    تحلیل حس (رضایتمندی)
                    $1$<div class="menu-item-alert">(نسخه آزمایشی)</div>#1#
                </p>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-action="KeywordExtraction" asp-controller="Home">
                <i class="material-icons">find_in_page</i>
                <p>استخراج کلمات کلیدی متن</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Summarization" asp-controller="Home">
                <i class="material-icons">text_fields</i>
                <p>خلاصه‌سازی متن</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="TopicModeling" asp-controller="Home">
                <i class="material-icons">text_format</i>
                <p @*style="float: right"*@>
                    شناسایی موضوعات
                    @*<div class="menu-item-alert">(جدید)</div>*@
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="WordCloud" asp-controller="Home">
                <i class="material-icons">cloud</i>
                <p>ترسیم ابر کلمات</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="NamedEntityRecognitionDetect" asp-controller="Home">
                <i class="material-icons">library_books</i>
                <p>شناسایی موجودیت‌های نام‌دار</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="LanguageDetectionPredict" asp-controller="Home">
                <i class="material-icons">translate</i>
                <p>شناسایی نوع زبان</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="GetMostSimilarWord" asp-controller="Home">
                <i class="material-icons">format_shapes</i>
                <p>دریافت کلمات مرتبط</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="LemmatizeText2Text" asp-controller="Home">
                <i class="material-icons">line_style</i>
                <p>ریشه‌یابی کلمات</p>
            </a>
        </li>
        <li class="nav-item">
            <div class="nav-link" style="color: #fff">فارسی‌یار</div>
        </li>
    </ul>
</div>

