
<div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" style="background-color:#fff">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="SpellCorrector" asp-controller="Home">
                <i class="material-icons">border_color</i>
                <p>اصلاح اشتباهات تایپی</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="FormalConverter" asp-controller="Home">
                <i class="material-icons">record_voice_over</i>
                <p>تبدیل محاوره به رسمی</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="SwearWordTagger" asp-controller="Home">
                <i class="material-icons">announcement</i>
                <p>تشخیص کلمات زشت و رکیک</p>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" asp-action="SentimentClassifier" asp-controller="Home">
                <i class="material-icons">insert_emoticon</i>
                <p class="menu-item-main">تحلیل حس<div class="menu-item-alert">(نسخه آزمایشی)</div></p>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-action="KeywordExtraction" asp-controller="Home">
                <i class="material-icons">find_in_page</i>
                <p>استخراج کلمات کلیدی متن</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="NamedEntityRecognitionDetect" asp-controller="Home">
                <i class="material-icons">line_style</i>
                <p>شناسایی موجودیت‌های نام‌دار</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="LanguageDetectionPredict" asp-controller="Home">
                <i class="material-icons">translate</i>
                <p>شناسایی نوع زبان</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="LemmatizeText2Text" asp-controller="Home">
                <i class="material-icons">library_books</i>
                <p>ریشه‌یابی متن</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="GetMostSimilarWord" asp-controller="Home">
                <i class="material-icons">format_shapes</i>
                <p>دریافت کلمات مرتبط</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Virastar" asp-controller="Home">
                <i class="material-icons">spellcheck</i>
                <p>ویراستاری متن</p>
            </a>
        </li>
    </ul>
</div>

