@model List<TokenInfo>
@{
    Layout = null;

}
<style>
    .has-suggestions {
        border-bottom: 2px solid #ff0000;
        border-radius: 5px;
        margin-left: 5px;
    }
    /*td{
        border:1px solid #000;
    }*/
    /*tr td:last-child{
        width:1%;
        white-space:nowrap;
    }*/
</style>

@foreach (var tokenInfo in Model)
{
    if (tokenInfo.IsChanged)
    {
        var title = $"<span class='text-mute'>{tokenInfo.EditList.Last().SuggestedText}</span>";
        var content = tokenInfo.EditList.Last().Description;
        if(tokenInfo.EditList.Count > 1)
        {
            title = "<span class='text-mute'>چند پیشنهاد وجود دارد:</span>";
            content = "<table style=\"width: 100%;\">";
            foreach (EditItem item in tokenInfo.EditList)
            {
                string desc = item.EditType == EditType.SpellCorrection ? "اصلاح اشتباه املائی" : item.Description;
                content += $"<tr><td style=\"padding-left:10px;font-weight:bold\" class=\"block\">{item.SuggestedText}</td><td class=\"block\">{desc}</td></tr>";
            }
            content += "</table>";
        }
		<span class="has-suggestions"
			  data-trigger="hover"
			  data-toggle="popover"
			  data-placement="top"
			  data-html="true"
			  title="@title"
			  data-content="@content">
			@tokenInfo.OriginalText
		</span>
    }
    else
    {
        <span class="">
            @tokenInfo.OriginalText
        </span>
    }
}

<partial name="_ErrorReportButton" />

<script>

    $(function () {
        $('span[data-toggle="popover"]').popover();
    })
</script>